.days-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 500px;
  border: 2px solid red;
  margin: auto;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #26a69a;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.day-container {
  border: 2px solid blue;
  height: 300px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.disabled-link {
  pointer-events: none;
}
